html, body
  height: 100%
  min-height: 100%

.wrapper
  @extend .row

.navigation
  // @extend .col-md-1
  // left: 0
  // position: fixed
  
#site-nav
  
  button
    margin: $baseMargin 10px
  
.content
  // @extend .col-md-12
  // margin: 65px
  margin: 90px