$font-family-serif:       "Quattrocento", serif;
$font-family-sans-serif:  "Quattrocento Sans", sans-serif;

// $font-family-base: $font-family-serif;
// $headings-font-family: $font-family-sans-serif;

$link-color: $raspas;

// $nav-pills-border-radius: 0;
// $nav-pills-active-link-hover-bg: white;
// $nav-pills-active-link-hover-color: $comtijolo;

// $pagination-hover-color: $comtijolo;
// $pagination-bg: transparent;
// $pagination-hover-bg: white;
// $pagination-border: white;
// $pagination-hover-border: #DDD;
// $pagination-active-border: $border;
// $pagination-disabled-border: $border;
// $pagination-active-color: $comtijolo;
// $pagination-active-bg: white; 