$font-family-serif:       "Quattrocento", serif;
$font-family-sans-serif:  "Quattrocento Sans", sans-serif;

// $font-family-base: $font-family-serif;
// $headings-font-family: $font-family-sans-serif;

$link-color: $raspas;

$navbar-default-bg: rgba(0,0,0,.0);
$navbar-default-border: none;
// $navbar-default-link-color: $nimbusBlue;
// $navbar-default-link-hover-color: $nimbusPetrol;
// $navbar-default-link-active-color: $nimbusPetrol;

// $btn-default-bg: rgba(0,0,0,.0);
// $btn-default-border: $raspas;
// $btn-default-color: $nimbusPetrol;

.navbar {
  margin-bottom: 0 !important;
}

.btn-round {
  border-radius: 50% !important;
  padding: 12px !important;
}