.author
  @extend .tile
  
.author_body
  color: $text
  padding: $baseMargin
  
  h1
    font-size: 26px
    margin: 0
    
  .author_info
    color: $light-text
    margin: $minMargin 0 $baseMargin
    text-transform: uppercase
  
  p.bio
    font-size: 15px
  
.purr   
  @extend .alert
  @extend .alert-danger
  position: absolute
  left: 200px
  top: 20px