- flash.each do |key, message|
  = content_tag :div, class: "alert alert-#{key} full-page-alert" do
    = content_tag :button, '&times;'.html_safe, class: 'close', data: { dismiss: 'alert' }
    = message